apiVersion: v1
kind: Service
metadata:
  name: notifications-service
  labels:
    app: notifications-service
spec:
  type: ClusterIP
  selector:
    app: notifications-service
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
