bucket = "myapp-terraform-state"
namespace = "ocid1.tenancy.oc1..exampleuniqueID"
region = "us-ashburn-1"
key = "prod/myapp/terraform.tfstate"
workspace_key_prefix = "envs"
tenancy_ocid = "ocid1.tenancy.oc1..exampleuniqueID"
user_ocid = "ocid1.user.oc1..exampleuniqueID"
fingerprint = "aa:bb:cc:dd:ee:ff:00:11:22:33:44:55:66:77:88:99"
private_key_path = "~/.oci/oci_api_key.pem"
auth = "APIKey"
config_file_profile = "DEFAULT"
