apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: myapp-production

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: backend
      spec:
        replicas: 1
        template:
          spec:
            containers:
              - name: backend
                resources:
                  requests:
                    cpu: 250m
                    memory: 256Mi
                  limits:
                    cpu: "1"
                    memory: 1Gi
            imagePullSecrets:
              - name: ghcr-secret
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: frontend
      spec:
        replicas: 1
        template:
          spec:
            imagePullSecrets:
              - name: ghcr-secret
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: auth-service
      spec:
        replicas: 1
        template:
          spec:
            containers:
              - name: auth-service
                resources:
                  requests:
                    cpu: 250m
                    memory: 256Mi
                  limits:
                    cpu: "1"
                    memory: 1Gi
            imagePullSecrets:
              - name: ghcr-secret
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: notifications-service
      spec:
        replicas: 1
        template:
          spec:
            containers:
              - name: notifications-service
                resources:
                  requests:
                    cpu: 250m
                    memory: 256Mi
                  limits:
                    cpu: "1"
                    memory: 1Gi
            imagePullSecrets:
              - name: ghcr-secret
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: backend-hpa
      spec:
        minReplicas: 1
        maxReplicas: 1
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: frontend-hpa
      spec:
        minReplicas: 1
        maxReplicas: 1
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: auth-service-hpa
      spec:
        minReplicas: 1
        maxReplicas: 1
  - patch: |-
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: postgres
      spec:
        template:
          spec:
            imagePullSecrets:
              - name: ghcr-secret
  - patch: |-
      apiVersion: v1
      kind: Service
      metadata:
        name: frontend
      spec:
        type: LoadBalancer


images:
  - name: backend
    newName: ghcr.io/karimfin/myapp-backend
    newTag: latest
  - name: frontend
    newName: ghcr.io/karimfin/myapp-frontend
    newTag: latest
  - name: auth-service
    newName: ghcr.io/karimfin/myapp-auth-service
    newTag: latest
  - name: notifications-service
    newName: ghcr.io/karimfin/myapp-notifications-service
    newTag: latest
