name: Dev CI

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

permissions:
  contents: read
  packages: write
  security-events: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pipeline:
    uses: ./.github/workflows/reusable-cicd.yaml
    with:
      environment_name: dev
      namespace: myapp-dev
      overlay: dev
      deploy: ${{ github.event_name == 'push' && github.ref == 'refs/heads/dev' }}
      build: ${{ github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository) }}
      validate_k8s: ${{ github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository) }}
      create_namespace: true
    secrets: inherit
