name: Prod Release

on:
  push:
    branches: [prod]

permissions:
  contents: read
  packages: write
  security-events: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pipeline:
    uses: ./.github/workflows/reusable-cicd.yaml
    with:
      environment_name: prod
      namespace: myapp-production
      overlay: prod
      deploy: true
      build: true
      validate_k8s: true
      create_namespace: false
    secrets: inherit
